@font-face {
    font-family: 'ashburylig';
    src: url('fonts/ashburylig-webfont.woff2') format('woff2'),
         url('fonts/ashburylig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'cyberpunkwaifus';
    src: url('fonts/CyberpunkWaifus.ttf') format('ttf'),
         url('fonts/CyberpunkWaifus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
    padding: 300px 0;
    background-color:black;
    text-align: center;
    font-family: 'cyberpunkwaifus';
    color: white;
  }

h1{
    font-family: 'ashburylig';
}

.links{
    display:inline-block;
}

