@font-face {
    font-family: 'ashburylig';
    src: url('fonts/ashburylig-webfont.woff2') format('woff2'),
         url('fonts/ashburylig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'cyberpunkwaifus';
    src: url('fonts/CyberpunkWaifus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

body {
    padding: 300px 0;
    background-color:black;
    text-align: center;
    font-family: 'cyberpunkwaifus';
    color: white;
  }

h1{
    font-family: 'ashburylig';
}

.links{
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
}

